* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #111;
  color: white;
}

.budget-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding-top: 10px;
  width: 360px;
  height: 100vh;
  background-color: #222;
}

.budget-header {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 20%;
  background-color: greenyellow;
  color: black;
  text-align: center;
  border-radius: 30px;
}

.balance {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.balance .title {
  font-size: 0.9rem;
}

.budget-header .value {
  font-size: 2rem;
  font-weight: bold;
}

.account {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.account .title {
  font-size: 1rem;
}

.budget-dashboard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 12px;
  background-color: #f9f6ee;
  color: black;
  border-radius: 30px 30px 0 0;
  height: 60%;
}

.toggle {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  border-radius: 30px;
  padding: 3px;
}

.toggle .tab {
  color: #ccc;
  background-color: transparent;
  border-radius: 30px;
  border: none;
  padding: 5px;
  width: 100px;
}

.toggle .active {
  background-color: greenyellow;
  color: #222;
}

.budget-dashboard .hide {
  display: none;
}

.budget-dashboard #income .input {
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0;
  border-top: 1px solid gainsboro;
}

.budget-dashboard #income .input > * {
  width: 33.3%;
  border: none;
  padding: 12px;
}

.budget-dashboard #income .add-income-btn {
  background-color: greenyellow;
}
